/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*==================== VARIABLES CSS ====================*/
:root {
    --white-color: #fff;
    --gray-color: #b2bec3;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --border-color: #dbdbdb;

    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem;
}
.section__title{
    font-size: var(--h1-font-size);
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle{
    text-align: center;
}

/* Header */
header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: var(--white-color);
}
.nav-menu, .nav-menu * {
    display: flex;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;

}
.nav-menu a {
    display: block;
    position: relative;
    color: var(--gray-color);
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: black;
    text-decoration: none;
}
/* Main */
/* home */
.about{
    display: flex;
}
.about-txt-h1{
    font-size: var(--big-font-size);
    margin-top: 10rem;
}
.about-txt-p{
    color: var(--gray-color);
    font-size: var(--h3-font-size);
}
.about-btn{
    position: relative;
    border-radius: 3rem;
    width: 150px;
    height: 50px;
    background-color: #778beb;
    
}
.about-btn-a{
    margin-left: 1.3rem;
    position: absolute;
    text-align: center;
    font-size: var(--h2-font-size);
    margin-top: 0.9rem;
}
.about-txt a{
    color: var(--white-color);
    text-decoration: none;
}
.about-img-link{
    margin-left: 10rem;
    width: 400px;
    height: 400px;
}
.about-btn:hover{
    background-color: #546de5;
}
/* find a doctor */
.doctor-title{
    font-size: var(--big-font-size);
}
.doctor-dash{
    margin: 2rem 0 2rem 48%;
    background-color: var(--black-color);
    height: 1px;
    width: 50px;
}
.sub-title{
    color: var(--gray-color);
    font-size: var(--normal-font-size);
}
.doctor-box-one{
    margin-left: 5%;
    display: flex;
}
.doctor-box-two{
    margin-top: 3rem;
    margin-left: 5%;
    display: flex;
}
.doctor-rectan{
    padding: 3rem;
    width: 300px;
    height: 354px;
    border-radius: 20px;
    background-color: var(--white-color);
}
.doctor-icon img{
    width: 92px;
    height: 90px;
}
.doctor-box-title{
    font-size: var(--h1-font-size);
}
.doctor-box-subtitle{
    line-height: 2.5rem;
    color: var(--gray-color);
    font-size: var(--h3-font-size);
}